
.no_suggestions {
    color: #999;
    padding: 0.5rem;
    margin: 0px 15px;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 1rem);
    margin: 0px 15px;
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestions li:hover {
    background-color: #c0c9c6;
    color: #080808;
    cursor: pointer;
    font-weight: 700;
  }

  .suggestion_active {
    background-color: #c0c9c6;
    color: #080808;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }

  .input{
    margin: 0px 15px;
    border: 1px solid #999;
    padding: 0.5rem;
    width: 300px;
  }